@font-face {
    font-family: Canvas;
    src: url(../assets/font/Regular.otf);
  }

@font-face {
    font-family: Canvas;
    src: url(../assets/font/Black.otf);
    font-weight: bold;
}

@font-face {
    font-family: Canvas;
    src: url(../assets/font/Light.otf);
    font-weight: lighter;
}
* {
    box-sizing: border-box;
}

.container {
    width: calc(100vw - 200px);
    position: absolute;
    top: 0;
    left: 100px;
}

h1.title {
    font-family: Canvas;
    font-weight: bold;
    font-size: 72px;
}

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.backgroundwrapper {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: -10;
}

.backgroundwrapper .background {
    min-width: 100%;
    height: 100%;
}

.backgroundwrapper .overlay {
    width: 100%;
    height: 100%;
    background: #ff9000;
    opacity: 0.4;
    position: absolute;
    z-index: 10;
    top: 0;
}