---
import Layout from "../layouts/Layout.astro";
import WordSoup from "../components/wordSoup/WordSoup";
import { MousePosition } from "../components/wordSoup/MousePosition";
---

<MousePosition client:load>
  <Layout frontmatter={{ title: "Home" }}>
    <div class="fixed top-[-10rem]">
      <WordSoup size={14} rows={10} client:load />
    </div>
    <section class="relative w-full h-full grid place-items-center p-6">
      <main class="bg-overlay/80 px-12 py-6 w-full h-full rounded-lg">
        <h1>Hi there! I'm Joris</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
          sollicitudin nunc leo, ac consectetur libero mollis gravida. Duis
          dapibus consectetur orci quis finibus. Nullam nec lacus tincidunt,
          hendrerit massa sit amet, volutpat nisl. Phasellus in neque finibus,
          mollis lacus vitae, mollis nibh. Integer elementum tempor tellus, sit
          amet viverra elit vehicula at. Aliquam ut augue nec neque aliquam
          porta. Donec eleifend viverra egestas. Proin maximus tincidunt lectus,
          vel tincidunt mi elementum vel.
        </p>
        <a href="/posts/test">Post</a>
      </main>
    </section>
  </Layout>
</MousePosition>
