@font-face
    font-family: 'Canvas'
    src: url(font/Regular.otf)
    font-weight: normal
@font-face
    font-family: 'Canvas'
    src: url(font/Black.otf)
    font-weight: 700
@font-face
    font-family: 'Canvas'
    src: url(font/Light.otf)
    font-weight: 300
